body{
	text-align: center;
	margin: auto;
}

main{
	width: 500px;
	margin: auto;
	border: 7px solid;
	border-radius: 15px;
	background-color: bisque;
	padding: 20px 0 20px 0;
}

#answer{
	width: 350px;
}

#toWrite{
	height: 1em;
	font-size: 30px;
	background-color: white;
	margin: auto;
	width: 450px;
	border: solid 5px;
	border-radius: 30px;
	padding: 5px 0 10px 0;
}