body{
	text-align: center;
	background: center url(scicity.jpeg) fixed;
	color: white;
}

h1{
	color:chartreuse;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position: fixed;
}

a{
	color: crimson;
}

h2{
	color: red;
	border-style: solid;
	border-color: blueviolet;
	border-width: 10px;
	border-radius: 50px;
	background-color: gray;
	border-radius: 10px 100px 10px 100px;
	box-shadow: 10px 10px 2px rgba(255, 255, 255, 0.5);
	
}

.def{
	color: yellow;
	font-style: oblique;
	background: linear-gradient(to right,#000046, #1CB5E0);
}

p{
	color: chocolate;
	font-size: 18px;
}

h2 + p{
	background-color: brown;
}

ul{
	list-style-position: 200px;
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-content: center;
}

li{
	background-color: aqua;
	color: brown;
	padding: 20px;
}

.abc{
	color: blue;
	font-size: 2em;
	width: 500px;
	height: 100px;
	margin: auto;
}

#ancre1{
	color: green;
}

.bouton:hover{
	background-color: burlywood;
	box-shadow: 10px 0px 0px rgba(31, 50, 192, 0.5);
	border-radius: 20px;
	padding: 10px;
	
}

.bouton{
	background-color: rgb(10, 19, 74);
	box-shadow: 10px 0px 0px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	padding: 10px;
}

.bouton:active{
	background-color: rgb(10, 19, 74);
	box-shadow: 10px 0px 0px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	padding: 100px;
}

.bouton:focus{
	background-color: rgb(24, 155, 172);
	box-shadow: 10px 0px 0px rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 0px;
	
}

#block1{
	background-color: wheat;
	color: blue;
	border-radius: 100px;
	box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.5);
}

.conteneur{
	color: aquamarine;
	display: grid;
	grid-template-columns: 1fr 2fr 3fr;
	grid-template-rows: 200px 300px 400px 200px;
	gap: 20;
}

.box{
	background-color: black;
	border: solid 4px;
	border-radius: 20px;
	box-shadow: 10px 10px rgba(254, 253, 253, 0.35);
}

.box1{
	background-color: black;
	border: solid 4px;
	border-radius: 20px;
	box-shadow: 10px 10px rgba(254, 253, 253, 0.35);
	grid-column: 1 / 4;
}

.box2{
	background-color: black;
	border: solid 4px;
	border-radius: 20px;
	box-shadow: 10px 10px rgba(254, 253, 253, 0.35);
}

.box3{
	background-color: black;
	border: solid 4px;
	border-radius: 20px;
	box-shadow: 10px 10px rgba(254, 253, 253, 0.35);
	grid-column: 1 / 4;
}

.box4{
	background-color: black;
	border: solid 4px;
	border-radius: 20px;
	box-shadow: 10px 10px rgba(254, 253, 253, 0.35);
	grid-column: 1 / 2;
	grid-row: 2 / 4;
}

.box5{
	background-color: black;
	border: solid 4px;
	border-radius: 20px;
	box-shadow: 10px 10px rgba(254, 253, 253, 0.35);
	grid-column: 2 / 3;
	grid-row: 2 / 4;
}

table{
	border-collapse: collapse;
	margin: auto;
}

td{
	border: 0.2em white solid;
	background-color: #9edff1;
	color: burlywood;
	padding: 10px;

}

th{
	font-weight: bolder;
	background-color: #40bee1;
	color: burlywood;
	border-radius: 5px 5px 0 0;
	padding: 5px;
}

caption{
	font-weight: bolder;
	background-color: #000000;
	color: burlywood;
	border-radius: 5px 5px 0 0;
}

#radio{
	color: yellow;
}

fieldset{
	background-color: rgb(195, 116, 116);
	width: 500px;
	margin: auto;
	color: rgb(57, 255, 100);
}

textarea{
	resize: none;
}
@media screen and (max-width: 1024px) {
    p {
        color: red;
        background-color: black;
        font-size: 1.2em;
    }
}

#to_write span{
	color: darkgreen;
}